<div id="<%= dom_id reaction %>">
  <p>
    <strong>Type:</strong>
    <%= reaction.reaction_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reaction.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= reaction.comment_id %>
  </p>

</div>
