<div id="<%= dom_id post %>" style="max-width: 650px;">
  <div>
    <div style="float: right;" class="text-muted"><%= post.created_at.strftime "%Y-%m-%d %H:%M" %></div>
    <div class="text-secondary" style="font-weight: bold;"><%= post.user.username %></div>
    
  </div>

  <div style="font-family: monospace; margin-left: 20px; border-left: 5px solid #00aaff; padding-left: 10px;">
    <span style="white-space: pre-line;"><%= post.text[0..1920] %></span>
    
  </div>

  

</div>
